<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>steamstatus</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="container my-4">
        <h1>steamstatus</h1>
        <p class="float-left">A Steam monitoring service built with Flask</p>
        <p class="float-right">Updating in <span id="countdown"></span>s</p>
    </header>

    <div id="server-message" class="container alert alert-danger" role="alert" style="display: none;"></div>

    <main class="container my-4">
        <div class="row">
            <div class="col h-100 mr-3 py-3 px-4 rounded status-group">
                <h3>Services</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://store.steampowered.com/stats/" target="_blank" rel="noopener">Online Users</a>
                        <span id="online-users" class="status"></span>
                    </li>
                    <li>
                        Steam Store
                        <span id="store-status" class="status"></span>
                    </li>
                    <li>
                        Steam Community
                        <span id="community-status" class="status"></span>
                    </li>
                    <li>
                        Steam Web API
                        <span id="api-status" class="status"></span>
                    </li>
                </ul>
                <hr>
                <ul class="list-unstyled">
                    <li>
                        CS:GO Sessions Logon
                        <span id="sessions-logon" class="status"></span>
                    </li>
                    <li>
                        CS:GO Player Inventories
                        <span id="player-inventories" class="status"></span>
                    </li>
                    <li>
                        CS:GO Matchmaking Scheduler
                        <span id="matchmaking-scheduler" class="status"></span>
                    </li>
                </ul>
            </div>
            <div class="col h-100 ml-3 py-3 px-4 rounded status-group">
                <h3>CS:GO Servers</h3>
                <ul class="list-unstyled">
                    <li>
                        <img src="/static/img/flags/eu.gif" alt="Flag of the European Union"> EU North
                        <span id="eu-north" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/eu.gif" alt="Flag of the European Union"> EU East
                        <span id="eu-east" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/eu.gif" alt="Flag of the European Union"> EU West
                        <span id="eu-west" class="status"></span>
                    </li>
                </ul>
                <hr>
                <ul class="list-unstyled">
                    <li>
                        <img src="/static/img/flags/us.gif" alt="Flag of the United States"> US Northcentral
                        <span id="us-northcentral" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/us.gif" alt="Flag of the United States"> US Northeast
                        <span id="us-northeast" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/us.gif" alt="Flag of the United States"> US Northwest
                        <span id="us-northwest" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/us.gif" alt="Flag of the United States"> US Southeast
                        <span id="us-southeast" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/us.gif" alt="Flag of the United States"> US Southwest
                        <span id="us-southwest" class="status"></span>
                    </li>
                </ul>
                <hr>
                <ul class="list-unstyled">
                    <li>
                        <img src="/static/img/flags/cn.gif" alt="Flag of China"> China Guangzhou
                        <span id="china-guangzhou" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/cn.gif" alt="Flag of China"> China Shanghai
                        <span id="china-shanghai" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/cn.gif" alt="Flag of China"> China Tianjin
                        <span id="china-tianjin" class="status"></span>
                    </li>
                </ul>
                <hr>
                <ul class="list-unstyled">
                    <li>
                        <img src="/static/img/flags/au.gif" alt="Flag of Australia"> Australia
                        <span id="australia" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/br.gif" alt="Flag of Brazil"> Brazil
                        <span id="brazil" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/cl.gif" alt="Flag of Chile"> Chile
                        <span id="chile" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/ae.gif" alt="Flag of the Emirates"> Emirates
                        <span id="emirates" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/hk.gif" alt="Flag of Hong Kong"> Hong Kong
                        <span id="hong-kong" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/in.gif" alt="Flag of India"> India
                        <span id="india" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/in.gif" alt="Flag of India"> India East
                        <span id="india-east" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/jp.gif" alt="Flag of Japan"> Japan
                        <span id="japan" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/pe.gif" alt="Flag of Peru"> Peru
                        <span id="peru" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/pl.gif" alt="Flag of Poland"> Poland
                        <span id="poland" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/sg.gif" alt="Flag of Singapore"> Singapore
                        <span id="singapore" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/za.gif" alt="Flag of South Africa"> South Africa
                        <span id="south-africa" class="status"></span>
                    </li>
                    <li>
                        <img src="/static/img/flags/es.gif" alt="Flag of Spain"> Spain
                        <span id="spain" class="status"></span>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <script src="/static/js/scripts.js"></script>
</body>

</html>
