body {
  color: white;
  background: #1b2838;
}

header {
  overflow: auto;
}

a {
  color: #2f89bc;
}

a:hover {
  color: #66c0f4;
  text-decoration: none;
}

#servermsg {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.status-group {
  height: 100%;
  padding: 1rem 1.5rem;

  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.4);
}

.status-group hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.status-group ul li img {
  padding-right: 0.5rem;
}

.status-group ul li span {
  float: right;
}

.status-group ul {
  margin-bottom: 0;
}
