body {
  color: white;
  background: #1b2838;
}

header {
  overflow: auto;
}

a {
  color: #2f89bc;
}

a:hover {
  color: #66c0f4;
  text-decoration: none;
}

hr {
  border-top: 1px solid #29363d;
}

.status-group {
  background: rgba(0, 0, 0, 0.4);
}

.status-group > ul {
  margin-bottom: 0;
}

.status-group > ul > li > img {
  margin-right: 0.5rem;
}

.status {
  float: right;
}
