body {
  padding-top: 2rem;

  color: white;
  background: #1b2838;
}

header {
  overflow: auto;
}

.status-group {
  height: 100%;
  padding: 1rem 1.5rem;

  border-radius: 0.5rem;
  background: #16212e;
}

.status-group ul {
  margin-bottom: 0;
}

#servermsg {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
