body {
    padding-top: 2rem;

    color: white;
    background: #1B2838;
}

header {
    overflow: auto;
}

.status-group {
    height: 100%;
    padding: 1rem;

    border-radius: 0.5rem;
    background: #16212E;
}

#servermsg {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
